<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416942057754-52gm5t095amhp65t61p3bd5tuo22b11r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416942057754-52gm5t095amhp65t61p3bd5tuo22b11r</string>
	<key>API_KEY</key>
	<string>AIzaSyBu0x543qBf4bk1GMgQTUxRVk1MwRCuvf0</string>
	<key>GCM_SENDER_ID</key>
	<string>416942057754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>heke.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-demo-5cb27</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-demo-5cb27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416942057754:ios:d1bd1e0a720d4b24fde4a3</string>
</dict>
</plist>